<template>
  <div v-if="details" class="darken white--text">
    <v-container class="text-center">
      <h2 class="mb-4">اطلاعات مربوط به {{ details.farsi_symbol }}</h2>
      <img src="~/assets/spacer.svg" alt="spacer"/>
      <div class="detailsBox">
        <div class="d-flex justify-space-between align-center mb-6">
          <h3>نماد :</h3>
          <h5>{{ details.symbol }}</h5>
        </div>
        <div class="d-flex justify-space-between align-center mb-6">
          <h3>نام :</h3>
          <h5>{{ details.symbol_name }}</h5>
        </div>
        <div class="d-flex justify-space-between align-center mb-6">
          <h3>نام فارسی :</h3>
          <h5>{{ details.farsi_symbol }}</h5>
        </div>
        <div class="d-flex justify-space-between align-center mb-6">
          <h3>قیمت :</h3>
          <h5>{{ details.current_price }}</h5>
        </div>
        <div class="d-flex justify-space-between align-center mb-5">
          <h3>تغییرات ۲۴ ساعت :</h3>
          <h5>{{ details.changes }}</h5>
        </div>
      </div>

    </v-container>
  </div>
</template>

<script>
export default {
  name: "index",
  data() {
    return {
      token: null,
      details: null,
    }
  },
  created() {
    this.details = this.$route.params.items;
    // check token
    if (process.client) {
      this.token = localStorage.getItem('token')
    }
    // redirect
    if (this.token === null) {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
.detailsBox {
  min-height: max-content;
  width: 360px;
  border: 1px solid white;
  border-radius: 16px;
  padding: 26px 40px;
  margin: 20px auto auto;
}
</style>
