<template>
  <v-container>
    <v-card max-width="980"  :class="['soft-shadow text-center px-2 py-4 mb-2 mx-auto',($vuetify.breakpoint.mdAndUp?'n-margin':'mt-0')]">
      <div class="text-right mb-8 pa-4">
        <h1 class="mb-3 full-width">
          خرید و فروش بیش از 90 ارز دیجیتال
        </h1>
        <p class="text-body-2">
          شما در تبدیل فقط چند کلیک با خرید و فروش ارز‌های دیجیتال دلخواه خود
          فاصله دارید
        </p>
      </div>
      <!--     table-->
      <v-card-text>
        <v-data-table
            :headers="headers"
            :items="currencyList"
            class="font-weight-bold text-start text-body-1"
            hide-default-footer
        >
          <template v-slot:item.name="{ item }">
            <div class="d-flex align-center">
              <img height="34" class="ml-4" :src="item.icon" alt="icon">
              <div>
                <div class="font-weight-bold text-body-1">
                  {{item.name}} <span class="coolGrey--text font-weight-normal">/ {{item.second_currency_symbol}}</span>
                </div>
                <div class="text-caption coolGrey--text">
                  {{item.farsi_symbol}}
                </div>
              </div>
            </div>
          </template>
          <template v-slot:item.changes="{ item }">
        <span dir="ltr" :class="item.changes<0?'red--text':'green--text'">
          {{item.changes}} %
        </span>
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn depressed class="black--text" color="primary">
              خرید و فروش
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
      <v-btn to="/markets-overview" text color="coolGrey">
        مشاهده تمام بازار‌ها
      </v-btn>
    </v-card>
  </v-container>
</template>
<script>
export default {
  name: 'currencyTableComponent',
  props: {
    currencyList: {},
    headers: {}
  }
}
</script>
<style scoped>
.n-margin{
  margin-top: -95px;
}
</style>
