<template>
  <v-container class="pt-16 mt-8 pb-8">
    <!--      title-->
    <div class="d-flex flex-column align-center">
      <h1 class="intro__title text-center mb-4">
        چرا تبدیل؟
      </h1>
      <img class="mb-4" alt="dot" src="~/assets/spacer.svg">
      <p class="text-subtitle mb-8">
        چرا تبدیل را برای خرید و فروش ارزهای دیجیتال به شما پیشنهاد می‌کنیم؟
      </p>
    </div>
    <!--      content-->
    <v-row>
      <v-col v-for="n in 4" :key="n" class="col-md-3 col-12">
        <v-card height="100%" class="px-4 pt-6 pb-2 text-start shadow" flat>
          <div class="d-flex justify-center align-center mb-6">
            <img width="100%" height="100px"
                 src="https://tabdeal.org/images/homepage/new-content/whyus-24h-auth-icon.svg" alt="avatar">
          </div>
          <h3 class="mb-3 text-center text-sm-right">
            احراز هویت سریع
          </h3>
          <p>
            با ثبت نام و انجام فرایند سریع و آسان احراز هویت در تبدیل،
            فقط چند کلیک با شروع معامله فاصله دارید.
          </p>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'featuresComponent'
}
</script>
