<template>
  <section class="lightGrey">
    <v-container class="pt-16 mt-8 pb-8">
      <!--      title-->
      <div class="d-flex flex-column align-center">
        <h1 class="intro__title text-center mb-4">
          همین امروز به خانواده بزرگ تبدیل بپیوندید
        </h1>
        <img class="mb-4" alt="dot" src="~/assets/spacer.svg">
        <p class="text-subtitle mb-8">
          با هر سطحی از دانش در سریع‌ترین زمان با آموزش گام به گام سرمایه
          گذاری را تجربه کنید.
        </p>
      </div>
      <!--      intro content-->
      <v-row no-gutters>
        <v-col class="col-md-6 col-12 d-flex flex-column justify-center align-center">
          <img width="100%" src="~/assets/panel-mockup.png" alt="mockup"/>
        </v-col>
        <v-col class="px-4 px-sm-0 col-md-6 col-12">
          <div v-for="n in 3" class="d-flex flex-column align-center flex-sm-row mb-6">
            <!--           icon-->
            <div class="intro__icon">
              <img src="https://tabdeal.org/images/homepage/new-content/start-pro-tools-icon.svg" alt="icon">

            </div>
            <!--           details-->
            <div class="d-flex flex-column justify-center align-center align-sm-start">
              <h3 class="mb-3">ابزار حرفه‌ای معامله</h3>
              <p>با ابزار‌های حرفه‌ای خرید و فروش از جمله حدضرر (stop loss) و OCO ریسک معاملات خود را در هر زمان و هر
                شرایطی مدیریت کنید.</p>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
<script>
export default {
  name: 'introComponent'
}
</script>
