<template>
  <v-container class="d-flex flex-wrap align-center justify-center">
    <img height="125px" class="mx-2 mb-4 rounded-lg" v-for="(item,i) in slider" :key="i" alt="img" :src="item">
  </v-container>
</template>
<script>
export default {
  name: 'sliderComponent',
  props: {
    slider: {}
  }
}
</script>
