<template>
  <section class="home__top">
    <div :class="$vuetify.breakpoint.smAndDown?'home__aside--xs':'home__aside'">
      <h1>صرافی ارز دیجیتال</h1>
      <p>
        خرید و فروش امن و آسان به‌روزترین ارزهای دیجیتال جهان
      </p>
      <!--  phone input for quick register-->
      <v-row v-if="!isLogin" class="home__actions">
        <v-col class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-8">
          <v-text-field height="56" class="text-center" solo hide-details label="شماره همراه خود را وارد کنید."/>
        </v-col>
        <v-col class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-4">
          <v-btn color="primary" class="black--text" block height="56">
            همین حالا ثبت نام کنید
          </v-btn>
        </v-col>
      </v-row>
      <div class="text-center mt-5">
        <v-btn color="primary" class="black--text"  height="56">
          پنل کاربری
        </v-btn>
      </div>

    </div>
    <!--  currency table-->
  </section>
</template>
<script>
export default {
  name: 'topSectionComponent',
  props: {
    isLogin: String
  }
}
</script>
