<template>
  <v-container>
    <v-card max-width="980"
            :class="['soft-shadow text-center px-2 py-4 mb-2 mx-auto',($vuetify.breakpoint.mdAndUp?'n-margin':'mt-0')]">
      <div class="text-right mb-8 pa-4">
        <h1 class="mb-3 full-width">
          خرید و فروش بیش از 90 ارز دیجیتال
        </h1>
        <p class="text-body-2">
          شما در تبدیل فقط چند کلیک با خرید و فروش ارز‌های دیجیتال دلخواه خود
          فاصله دارید
        </p>
      </div>
      <!--     table-->
      <v-card-text>
        <v-data-table
          disable-pagination
          :headers="headers"
          :items="currencyList"
          class="font-weight-bold text-right text-body-1"
          hide-default-footer
        >
          <template v-slot:item.name="{ item }">
            <div class="d-flex align-center">
              <img height="34" class="ml-4" src="https://tabdeal.org/coin-icons/BTC-icon.svg" alt="icon">
              <div>
                <div class="font-weight-bold text-body-1">
                  {{ item.symbol }} <span
                  class="coolGrey--text font-weight-normal">/ {{ item.second_currency_symbol }}</span>
                </div>
                <div  class="text-caption coolGrey--text">
                  {{ item.farsi_symbol }}
                </div>
              </div>
            </div>
          </template>
          <template v-slot:item.changes="{ item }">
          <span dir="ltr" :class="item.changes<0?'red--text':'green--text'">
            {{ item.changes }} %
          </span>
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn @click="openCurrencyDetails(item)" depressed class="black--text" color="primary">
              خرید و فروش
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "index",
  data() {
    return {
      info: [],
      headers: [
        {text: 'نام', value: 'name', align: 'start',},
        {text: 'آخرین قیمت', value: 'current_price', align: 'start',},
        {text: 'تغییرات ۲۴ ساعت اخیر', value: 'changes', align: 'start',},
        {text: '', value: 'action', align: 'start',},
      ],
      currencyList: [],
    }
  },
  created() {
    axios
      .get('https://api.tabdeal.org:8443/r/plots/price_info/')
      .then(response => {
        this.info = response;
        this.currencyList = Object.keys(response.data).map((key) => {
          return response.data[key]
        })
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)

  },
  methods: {
    openCurrencyDetails(val) {
 // pass data to trade page
      this.$router.push({
        name: 'trade',
        params: {
          items: val
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
