<template>
  <v-card tile class="darken white--text">
    <v-container class="py-12 px-sm-4" fluid>
      <v-row class="px-8">
        <v-col class="col-md-3 col-12">
          <router-link to="/">
            <img class="footer__logo" src="~/assets/tabdeal_panel_logo.png" alt="logo">
          </router-link>
          <p class="text-body-1 font-weight-normal">
            پلتفرم معاملاتی تبدیل
            مکانی امن و مطمئن برای خرید و فروش آنلاین ارز‌های دیجیتال می‌باشد.
            تبدیل یک صرافی آنلاین برای خرید و فروش بیت کوین
            و تبادل سایر ارزهای دیجیتال به صورت تخصصی می‌باشد.
          </p>
        </v-col>
        <v-col class="col-sm-6 col-md-2 col-12">
          <div>
            <h3 class="mb-2 mr-4">درباره ما</h3>
            <v-list dense dark color="darken">
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
            </v-list>
          </div>
        </v-col>
        <v-col class="col-sm-6 col-md-2 col-12">
          <div>
            <h3 class="mb-2 mr-4">درباره ما</h3>
            <v-list dense dark color="darken">
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
            </v-list>
          </div>
        </v-col>
        <v-col class="col-sm-6 col-md-2 col-12">
          <div>
            <h3 class="mb-2 mr-4">درباره ما</h3>
            <v-list dense dark color="darken">
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
              <v-list-item to="/about-us/">
          <span class="coolGrey--text">
        داستان ما
      </span>
              </v-list-item>
            </v-list>
          </div>
        </v-col>
        <v-col class="col-sm-6 col-md-3 col-12">
          <div>
            <h3 class="mb-4">در شبکه‌های اجتماعی ما را دنبال کنید!</h3>
            <div class="d-flex flex-row mb-6">
<!--              social media-->
              <div v-for="(social,i) in socialIcons" :key="i" class="mx-1">
                <a class="text-decoration-none" :href="social.link" target="_blank">
                  <v-icon color="coolGrey" size="36" aria-hidden="true" dark class="footer__icon">mdi-{{social.name}}</v-icon>
                </a>
              </div>
            </div>
            <v-list-item class="theme--dark">
              <v-list-item-avatar height="40" width="40" min-width="40">
                <v-icon size="40" class="primary--text">
                  mdi-phone
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="text-h5"> ۰۲۱-۹۱۰۰۴۴۰۹</v-list-item-title>
                <v-list-item-subtitle>
                  <span>روزهای کاری</span>
                  <span class="px-1">|</span>
                  <span>۹ صبح تا ۱۹ شب</span>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item class="theme--dark">
              <v-list-item-avatar height="40" width="40" min-width="40">
                <v-icon size="40" class="primary--text">
                  mdi-email
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="text-h5">info@tabdeal.org</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script>
export default {
  name: 'contentFooter',
  data(){
    return{
      socialIcons:[
        {
          name:'instagram',
          link:'https://www.instagram.com/tabdealplatform/'
        },{
          name:'linkedin',
          link:'https://www.linkedin.com/company/tabdealplatform/'
        },{
          name:'facebook',
          link:'https://www.facebook.com/tabdealplatform/'
        },{
          name:'twitter',
          link:'https://twitter.com/tabdealplatform'
        },{
          name:'telegram',
          link:'https://t.me/tabdealplatform'
        },
      ]
    }
  }
}
</script>
<style lang="scss">
body {
  letter-spacing: 0;
}

.footer {
  &__logo {
    max-height: 140px;
    max-width: 200px;
  }

  &__icon:hover {
   color: white !important;
  }
}

</style>
