<template>
  <v-toolbar dense max-height="64px" height="64" flat color="secondary">
    <!--      logo-->
    <router-link to="/">
      <img src="~/assets/tabdeal_panel_logo.png" height="40px">
    </router-link>
   <div v-if="$vuetify.breakpoint.mdAndUp">
     <v-btn class="mx-2 px-4" color="white" outlined min-width="64" >
       خرید و فروش
     </v-btn>
     <v-btn class="mx-2 px-4" color="primary" outlined min-width="64" >
       خرید آسان
     </v-btn>
     <v-btn class="mx-2 px-2" color="white" text min-width="64" >
       راهنمای گام به گام
     </v-btn>
     <v-btn class="mx-2 px-2" color="white" text min-width="64" >
       درآمد رایگان
     </v-btn>
   </div>
    <v-spacer/>
    <div v-if="!isLogin">
<!--      login-->
      <v-btn :to="{name:'login'}" class="mx-2 px-2" color="primary" text min-width="64" >
       ورود
      </v-btn>
<!--      register-->
      <v-btn :to="{name:'register'}" color="primary" class="black--text">
        ثبت نام
      </v-btn>
      <v-btn v-if="$vuetify.breakpoint.mdAndUp" class="mx-2 px-2" color="#999a9d " text min-width="50" >
        پشتیبانی
        <v-icon color="#999a9d " small class="mr-1">mdi-phone</v-icon>
      </v-btn>
    </div>
    <div v-else>
     <span class="white--text">
        سلام فرمانده
     </span>
    </div>
    <v-btn v-if="$vuetify.breakpoint.smAndDown" color="white" icon>
      <v-icon>mdi-menu</v-icon>
    </v-btn>
  </v-toolbar>
<!--  responsive mode-->
</template>
<script>

import {environment} from "@/environment/environment";

export default {
  name: 'contentHeader',
computed:{
    isLogin(){
     if (process.client){
       return localStorage.getItem('token')
     }
    }
}
}
</script>
