<template>
  <v-app dark>
    <contentHeader/>
    <v-main>
        <Nuxt />
    </v-main>
    <contentFooter/>
  </v-app>
</template>

<script>
import ContentHeader from "@/layouts/ContentHeader";
import ContentFooter from "@/layouts/ContentFooter";

export default {
  name: 'DefaultLayout',
  components: {ContentFooter, ContentHeader},
  data() {
   return{}
  },
}
</script>
<style>
body{
  letter-spacing: 0;
}
.full-width{
  width: 100% !important;
}
</style>
