<template>
  <div>
<!--  top section -->
    <topSectionComponent :isLogin="isLogin"/>
<!--   currency table-->
    <currencyTableComponent :currency-list="currencyList" :headers="headers"/>
    <!--  slider-->
    <sliderComponent :slider="slider"/>
<!--    intro tabdeal-->
    <introComponent/>
<!--    tabdeal features-->
    <featuresComponent/>
<!--    mobile app intro-->
    <section class="darken">
      <v-container>
        <v-row no-gutters>
        <v-col class="col-md-6 col-12 d-flex flex-column justify-center px-4">
          <!--      title-->
          <div :class="$vuetify.breakpoint.smAndDown?'align-center':''" class="d-flex flex-column align-start">
            <h1 class="intro__title text-center mb-4 white--text">
              همه جا در دسترس شما
            </h1>
            <img class="mb-4" alt="dot" src="~/assets/spacer.svg">
            <p class="text-subtitle mb-8 white--text">
              با اپلیکیشن موبایل حرفه‌ای تبدیل، به سادگی و در هر شرایطی خرید و فروش امن ارز‌های دیجیتال را تجربه کنید!
            </p>
          </div>
        </v-col>
          <v-col :class="$vuetify.breakpoint.smAndDown?'d-none':''" class=" d-md-flex flex-column col-md-6 col-12">
            <img width="60%" class="ma-auto" src="https://tabdeal.org/images/homepage/new-content/phone-mockup-opt.png" alt="mockup">
          </v-col>
        </v-row>
      </v-container>
    </section>
<!--    get start-->
    <section class="banner">
<v-container>
  <v-row class="py-12 justify-md-start align-center justify-center">
    <v-col class="col-md-6 col-12">
      <!--      title-->
      <div :class="$vuetify.breakpoint.smAndDown?'align-center':''" class="d-flex flex-column align-start">
        <h1 class="intro__title text-center mb-4 white--text">

          همین حالا شروع کنید!
        </h1>
        <img class="mb-4" alt="dot" src="~/assets/spacer.svg">
        <p class="text-subtitle mb-8 white--text">
          دکمه مقابل را بزنید و همین امروز معامله در تبدیل را آغاز کنید.
        </p>
      </div>
    </v-col>
    <v-col class="col-md-3 col-12">
      <v-btn color="primary" class="black--text" x-large block>
        <h2 v-if="!isLogin">ثبت نام</h2>
        <h2 v-else>پنل کاربری</h2>

      </v-btn>
    </v-col>
  </v-row>
</v-container>
    </section>
  </div>
</template>

<script>

import TopSectionComponent from "@/components/homeComponents/TopSectionComponent";
import CurrencyTableComponent from "@/components/homeComponents/CurrencyTableComponent";
import SliderComponent from "@/components/homeComponents/SliderComponent";
import IntroComponent from "@/components/homeComponents/IntroComponent";
import FeaturesComponent from "@/components/homeComponents/FeaturesComponent";

export default {
  name: 'IndexPage',
  components: {FeaturesComponent, IntroComponent, SliderComponent, CurrencyTableComponent, TopSectionComponent},
  data(){
    return{
      headers: [
        {text: 'نام',value:'name',  align: 'start',},
        { text: 'آخرین قیمت', value: 'current_price',  align: 'start', },
        { text: 'تغییرات ۲۴ ساعت اخیر', value: 'changes',  align: 'start', },
        { text: '', value: 'action',  align: 'start', },
      ],
      currencyList:[
        {
          name:"BTC",
          icon:"https://tabdeal.org/coin-icons/BTC-icon.svg",
      second_currency_symbol: "USDT",
        farsi_symbol: "بیت‌کوین",
        symbol: "BTC",
        symbol_name: "Bitcoin",
        current_price: "20219.50000000",
        changes: "-4.64500000",
          route:'/'
    },
    {
      name:"ETH",
      icon:"https://tabdeal.org/coin-icons/ETH-icon.svg",
      second_currency_symbol: "USDT",
        farsi_symbol: "اتریوم",
        symbol: "ETH",
        symbol_name: "Ethereum",
        current_price: "1081.32000000",
        changes: "-6.95300000",
      route:'/'
    },
        {
          name:"BTC",
          icon:"https://tabdeal.org/coin-icons/BTC-icon.svg",
          second_currency_symbol: "USDT",
          farsi_symbol: "بیت‌کوین",
          symbol: "BTC",
          symbol_name: "Bitcoin",
          current_price: "20219.50000000",
          changes: "+4.64500000",
          route:'/'
        },
        {
          name:"ETH",
          icon:"https://tabdeal.org/coin-icons/ETH-icon.svg",
          second_currency_symbol: "USDT",
          farsi_symbol: "اتریوم",
          symbol: "ETH",
          symbol_name: "Ethereum",
          current_price: "1081.32000000",
          changes: "-6.95300000",
          route:'/'
        },
      ],
      slider:[
        'https://tabdeal.org/images/homepage/promo-banners/invite-promo-banner.svg',
        'https://tabdeal.org/images/homepage/promo-banners/crypto-promo-banner.svg',
        'https://tabdeal.org/images/homepage/promo-banners/algotahlil-promo-banner.svg',
        'https://tabdeal.org/images/homepage/promo-banners/babydoge-mission-fest-promo-banner.jpg'

      ]
    }
  },
  computed:{
    isLogin(){
      if (process.client){
        return localStorage.getItem('token')
      }
    }
  }
}
</script>
<style lang="scss">
.home{
  &__top{
    align-items: center;
    height: 400px;
    background: #1a1c1f;

  }
  &__aside{
    padding: 72px 0;
    text-align: center;
    h1{
      font-size: 52px;
      font-weight: 500;
      color: white;
    }
    p{
      font-size: 18px;
      color: #cacccf;
      margin: 12px;
    }
    &--xs{
      padding: 72px 0;
      text-align: center;
      h1{
        font-size: 34px;
        color: white;
      }
      p{
        font-size: 14px;
        color: #cacccf;
        margin: 12px;
      }
    }
  }
  &__actions{
    max-width: 540px;
    margin: auto;
  }
}

//table
td{
 height: 65px !important;
  text-align: right !important;
}
.intro{
  &__title{
    font-weight: 700;
    font-size: 36px!important;
    line-height: 1.5;
  }
  &__icon{
   padding: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgb(26 30 31 / 8%), 0 2px 4px 0 rgb(26 30 31 / 8%);
    background-color: #fff;
    margin-left: 16px;
  }
}
.banner{
  background: url("https://tabdeal.org/images/homepage/new-content/signup-cta-banner-bg-blue-opt.jpg") center center no-repeat  ;
  background-size: cover;
}
</style>
