<template>
  <div>
    {{ info }}
    <div class="ma-auto my-16" style="min-width: 450px;width: 450px">
      <div>
        <h2>
          به تبدیل خوش آمدید
        </h2>
        <h4 class="my-6">
          ثبت نام
        </h4>
      </div>
      <v-form @submit.prevent="submit" ref="form"
              v-model="valid"
              lazy-validation>
        <!--          mobile-->
        <v-text-field
          :rules="emailRules"
          v-model="email"
          dense
          type="email"
          label="ایمیل"
          outlined
          class="theme--light"
          background-color="#f6f6f6">
        </v-text-field>
        <!--          password-->
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required]"
          :type="showPassword ? 'text' : 'password'"
          @click:append="showPassword = !showPassword"
          dense
          label="رمزعبور"
          outlined
          class="theme--light"
          background-color="#f6f6f6"
        >
        </v-text-field>
        <v-btn
          @click="validate"
          :disabled="!valid"
          class="white--text"
          depressed
          type="submit"
          block
          :loading="loading"
          color="primary"><h3 class="font-weight-bold">ورود</h3></v-btn>
      </v-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {environment} from "@/environment/environment";

export default {
  name: "register",
  data() {
    return {
      loading:false,
      info: null,
      valid: true,
      email: "eve.holt@reqres.in",
      password: "pistol",
      showPassword: false,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      rules: {
        required: value => !!value || 'ضروری',
        min: v => v.length === 11 || 'شماره صحیح نیست',
      },
    }
  },
  methods: {
    validate() {
      this.$refs.form.validate();

    },
    submit() {
      try {
        this.loading=true;
        axios
          .post('https://reqres.in/api/register', {
            "email": this.email,
            "password": this.password
          })
          .then(response => {
            localStorage.setItem('token', response.data.token);
            environment.LOCAL_STORAGE_TOKEN = response.data.token;
            window.location.href = '/'
          })
      } catch (e) {
        console.log(e.error)
      }finally {
        this.loading = false
      }
    }
  }
}
</script>

